{{!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN SIGNUP PAGE</title>
  </head>
  <body>

    <h1>Admin Sign Up</h1>

    <form action="/adminSignup" method="post">

      <input type="text" name="name" placeholder="Name" />

      <input type="password" name="password" placeholder="Password" />

      <input type="submit" />

    </form>

  </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Signup Page</title>
</head>
<body>
    <h1>Admin Sign Up</h1>
    <form action="/adminSignup" method="post">
        <input type="text" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>
